<div class="container-fluid search-bar">
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-controller="TutorialsController">
        <div class="col-md-12">
            <div class="panel panel-info" ng-repeat="tutorial in tutorials">
                <div class="panel-heading">
                    <h4><a ng-href="/tutorials/{{tutorial.id}}">{{tutorial.title}}</a></h4>
                </div>
                <div class="panel-body">
                    {{tutorial.description}}
                </div>
                <div class="panel-footer small">
                    <span class="ratings">
                        <i class="fa fa-star"></i>  {{tutorial.stars}} stars
                    </span>
                    <span class="divider">|</span>
                    <span class="posted-by">
                        <i class="fa fa-user"></i>
                        Posted by: <a ng-href="/users/{{tutorial.owner.id}}">{{tutorial.owner.fullName}}</a>
                    </span>
                    <span class="divider">|</span>
                    <span class="created-at">
                        Created at: {{tutorial.createdOn}}
                    </span>
                    <span class="divider">|</span>
                    <span class="modified-at">
                        Last Modified: {{tutorial.modifiedOn}}
                    </span>
                    <span class="divider">|</span>
                    <span class="your-rating">
                        Your rating: <i class="fa fa-star"></i> 4 stars
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>