<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | PiTuts - World class tutorials</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/toastr.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
</head>
<body ng-app="tutorialsApp" ng-cloak>
    <% include partials/shared/navigation %>
    <%- body %>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/toastr.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers/signup-form.controller.js"></script>
    <script src="/javascripts/controllers/login-form.controller.js"></script>
</body>
</html>