<div class="container">
    <% if (owner === true) { %> 
    <section class="row row-content">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal" ng-controller="VideoController">
                <h3 class="text-center">Add a Video</h3>
                <div class="form-group">
                    <label for="title" class="col-md-2 control-label">
                        Video Title:
                    </label>
                    <div class="col-md-10">
                         <input type="text" id="title" name="title" class="form-control" placeholder="Title of Video" ng-model="formData.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col-md-2 control-label">
                        YouTube URL:
                    </label>
                    <div class="col-md-10">
                        <input type="url" class="form-control" name="url" id="url" placeholder="YouTube URL?" ng-model="formData.url">
                    </div>
                </div>
                <div class="form-group">
                    <label for="hour" class="col-md-2 control-label">Hour:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="number" min="0" max="10" name="hour" id="hour" placeholder="Hour" ng-model="formData.hour">
                    </div>
                    <label for="minute" class="col-md-2 control-label">Minutes:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="number" min="0" max="59" name="minute" id="minute" placeholder="Minutes" ng-model="formData.minutes">
                    </div>
                    <label for="second" class="col-md-2 control-label">Seconds:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="number" min="0" max="59" name="second" id="second" placeholder="Seconds" ng-model="formData.seconds">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-info" ng-click="addVideo(formData)">
                            Add Video
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <% } %>
    <section class="row row-content" ng-controller="TutorialsController">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        <a href="/tutorials/{{tutorial._id}}">Tutorial Title</a>
                        <% if (owner) { %>
                        <a class="btn btn-danger pull-right" href="/tutorials/<%=tutorial.id %>">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                        <a class="btn btn-warning pull-right" href="/tutorials/<%= tutorial.id %>/edit-tutorial">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <% } %>
                    </h4>
                </div>
                <div class="panel-body">
                    Tutorial description
                </div>
                <div class="panel-footer small">
                    <span class="ratings">
                        <i class="fa fa-star"></i> {{tutorial.stars}} stars
                    </span>
                    <span class="divider">|</span>
                    <span class="posted-by">
                        <i class="fa fa-user"></i> Posted by: <a href="/users/{{tutorial.owner._id}}">{{tutorial.owner.firstName}}</a>
                    </span>
                    <span class="divider">|</span>
                    <span class="created-at">
                        Created at: {{tutorial.createdOn}}
                    </span>
                    <span class="divider">|</span>
                    <span class="modified-at">
                        Last Modified: {{tutorial.modifiedOn}}
                    </span>
                    <span class="divider">|</span>
                    <span class="your-rating">
                        Your rating: <i class="fa fa-star"></i>  stars
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <ol class="list-group" ng-repeat="vid in tutorial.videos" ng-controller="VideoController">
                <li class="list-group-item">
                    <div class="list-group-item-heading">
                        <a ng-href="/tutorials/{{tutorial._id}}/videos/{{vid.id}}" class="list-group-item-heading">
                            {{$index+1}}. {{vid.title}}
                            <% if (owner) { %>
                                <a class="btn btn-danger pull-right btn-sm" ng-click="deleteVideo(vid.id)">
                                    <i class="fa fa-remove"></i> Delete
                                </a>
                                <a class="btn btn-warning pull-right btn-sm" ng-href="/tutorials/<%= tutorial.id %>/videos/{{vid.id}}/edit-video">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            <% } %>
                        </a>
                    </div>
                    <span class="small pull-right">| <i class="fa fa-calendar"></i> Uploaded: {{vid.createdOn}}</span>
                    <span class="small pull-right"><i class="fa fa-clock-o"></i>
                        Duration: {{vid.hours? vid.hours + ' hour': ''}}
                        {{vid.minutes? vid.minutes + ' minutes': ''}}
                        {{vid.seconds? vid.seconds + ' seconds': ''}}
                    </span>
                </li>
            </ol>
        </div>
    </section>
</div>